* {
	margin: 0;
	padding: 0;
}

body {
	background: #000 url('../img/darkness.png');
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.deck {
	width: 100%;
	padding: 1em;
	border-collapse: separate;
	border-spacing: 20px 10px;
}

h1 {
	color: white;
	font-size: 2em;
}

i[class^="fa"] {
	font-size: 24px; /* select all classes that starts with "fa" */
}

.table-container {
	width: 95%;
	border: 1px solid white;
}

td {
	width: 100px;
	height: 100px;
	background: white;
	text-align: center;
	border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    .deck {
    	width: 100%;
    	/*border-collapse: collapse;*/
    }

    .card {
    	height: 170px;
    }

    .table-container {
    	width: 60%;
    }
}