* {
	margin: 0;
	padding: 0;
}

body {
	background: #000 url('../img/darkness.png');
}

/*
 * Styles for cards
 */  
.card.disable {
	pointer-events: none; /* prevents all clicks */
}

.card i  {
    visibility: hidden;
}

.card.open i {
    visibility: visible;
}

.card.show  {
    background: blue;
}

.card.unmatched {
	background: red;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.deck {
	width: 100%;
	padding: 1em;
	border-collapse: separate;
	border-spacing: 20px 10px;
}

.game-panel {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
    width: 80%;
    font-size: 23px;
}

.game-panel .stars li {
	list-style: none;
	float: left;
}

h1 {
	color: white;
	margin-bottom: 20px;
	font-size: 2em;
}

i[class^="fa"] {
	font-size: 24px; /* select all classes that starts with "fa" */
}

/*
 * Styles for modal
 */ 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.table-container {
	width: 95%;
	border: 1px solid white;
}

td {
	width: 100px;
	height: 100px;
	background: white;
	text-align: center;
	border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    .deck {
    	width: 100%;
    	/*border-collapse: collapse;*/
    }

    .card {
    	height: 170px;
    }

    .game-panel {
	    width: 30%;
	}

    .table-container {
    	width: 60%;
    }
}